@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "mixins";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    @include body-font;
}

p {
}

a {
    transition: all .5s;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
    color: $headings-color;
    font-weight: 400;
    letter-spacing: 1px;
}

.button {
    @extend .btn;
    @extend .btn-outline-primary;

    transition: all .5s;
}

.vertical-container {
    display: table;
    width: 100%;
    height: 100%;

    &-child {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
}

header {
    @extend .container;

    @include media-breakpoint-down(md) {
        width: 100%;
        max-width: none;
    }

    .top-menu {
        @extend .row;

        margin-top: 15px;

        .branding {
            @extend .col-12;
            @extend .col-sm-6;
            @extend .order-sm-2;

            text-align: center;

            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
            }

            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                margin: 15px 0 0 0;
                background: #eee;
            }

            img {
                width: 95%;
                height: auto;
            }
        }

        .contact {
            @extend .col-6;
            @extend .col-sm-3;
            @extend .order-sm-1;

            text-align: center;

            @include media-breakpoint-up(sm) {
                text-align: left;
                padding-left: 30px;
            }
        }

        .social-menu {
            @extend .col-6;
            @extend .col-sm-3;
            @extend .order-sm-3;

            text-align: center;

            ul {
                @extend .list-inline;

                margin: 0;

                @include media-breakpoint-up(sm) {
                    float: right;
                    padding-right: 20px;
                }

                li {
                    @extend .list-inline-item;

                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }
        }
    }

    nav {
        margin-top: 20px;
        text-align: center;

        ul {
            @extend .list-inline;

            display: inline-block;

            li {
                @extend .list-inline-item;

                font-size: calc(12px + .3vmax);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2px;

                &:not(:last-child) {
                    &:after {
                        content: "";
                        display: inline-block;
                        border-radius: 0.25rem;
                        height: 0.5rem;
                        width: 0.5rem;
                        margin: 0 5px 2px 15px;
                        background: #ccc;
                    }
                }
            }
        }
    }
}

main.index {
    background: url(../images/smiling-couple.jpg) no-repeat center center;
    background-size: cover;
    height: 70%;
    width: 100%;

    @include media-breakpoint-up(sm) {
        height: 90%;
    }

    .vertical-container {
        @extend .container;

        .heading {
            @extend .col-6;
            @extend .offset-6;

            h1 {
                margin-bottom: 25px;
            }

            .button {
                @include media-breakpoint-up(sm) {
                    padding: 0.5rem 1rem;
                    font-size: 1.25rem;
                    line-height: 1.5;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}

main.about {
    background: #eee;

    .profiles-container {
        @extend .container;

        .profiles {
            @extend .row;

            padding: 50px 0;

            .profile {
                @extend .col-12;
                @extend .col-lg-4;

                margin: 20px 0;

                .profile-photo {
                    position: relative;
                    margin-bottom: -125px;
                    z-index: 1;
                    text-align: center;

                    img {
                        width: 75%;
                        height: auto;
                        border: 10px solid $gray-300;
                        border-radius: 50%;
                    }
                }

                .profile-content {
                    @extend .card;

                    height: 650px;
                    padding: 150px 20px 20px 20px;
                    border-radius: .5rem;

                    .name {
                        @extend .card-title;

                        text-align: center;

                        h1 {
                            font-size: calc(25px + .4vw);

                            &:after {
                                content: "";
                                display: block;
                                height: 1px;
                                width: 50%;
                                margin: 25px 0 15px 25%;
                                background: #eee;
                            }
                        }
                    }

                    .description {
                        @extend .card-text;
                    }
                }
            }
        }
    }
}

main.services {
    background: url(../images/smiling-family.jpg) no-repeat center center;
    background-size: cover;
    height: 70%;
    width: 100%;

    @include media-breakpoint-up(sm) {
        height: 90%;
    }

    .vertical-container {
        @extend .container;

        .heading {
            @extend .col-6;

            h1 {
                margin-bottom: 25px;
            }

            ul {
                @extend .list-unstyled;

                margin-bottom: 25px;

                li {
                    font-size: 20px;
                    margin: 10px 0;
                    margin-left: 1.6em;

                    &:before {
                      content: "\f00c";
                      color: $primary;
                      font-family: FontAwesome;
                      display: inline-block;
                      margin-left: -1.6em;
                      width: 1.6em;
                    }
                }
            }

            .button {
                @include media-breakpoint-up(sm) {
                    padding: 0.5rem 1rem;
                    font-size: 1.25rem;
                    line-height: 1.5;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}

main.locations {
    background: #f9f9f9;
    padding: 50px 0;

    .locations-container {
        @extend .container;

        .map {
            @extend .col-12;

            #map {
                height: 300px;
                width: 100%;
            }
        }

        .locations {
            @extend .col-12;

            margin-top: 50px;
            color: $gray-700;

            ul {
                @extend .list-unstyled;

                margin-bottom: 30px;

                li {
                    @extend .row;

                    &:not(:last-child):after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 100%;
                        margin: 15px;
                        background: #ddd;

                        @include media-breakpoint-up(sm) {
                            margin: 10px;
                        }
                    }

                    .name {
                        @extend .col-12;
                        @extend .col-lg-4;

                        font-weight: 400;
                        margin-bottom: 10px;

                        @include media-breakpoint-up(sm) {
                            margin-bottom: 0;
                        }
                    }

                    .address {
                        @extend .col-12;
                        @extend .col-lg-3;

                        margin-bottom: 10px;

                        @include media-breakpoint-up(sm) {
                            margin-bottom: 0;
                        }
                    }

                    .phone-number {
                        @extend .col-12;
                        @extend .col-lg-2;

                        margin-bottom: 10px;

                        @include media-breakpoint-up(sm) {
                            margin-bottom: 0;
                        }
                    }

                    .hours {
                        @extend .col-12;
                        @extend .col-lg-3;
                    }
                }
            }
        }
    }
}

footer {
    @extend .container;

    .footer-title {
        margin: 50px 0;
    }

    .footer-content {
        @extend .row;

        .locations-summary {
            @extend .col-12;
            @extend .col-sm-9;
            @extend .order-sm-1;

            ul {
                @extend .list-inline;

                columns: 2;

                li {
                    @extend .list-inline-item;

                    &:nth-child(odd) {
                        display: block;

                        &:after {
                            content: "";
                            display: block;
                            height: 1px;
                            width: 90%;
                            margin: 10px;
                            background: #eee;
                        }
                    }

                    .location {
                        display: inline-block;
                        font-weight: 400;

                    }

                    .phone-number {
                        display: inline-block;
                    }
                }
            }
        }

        .sitemap {
            @extend .col-12;
            @extend .order-sm-3;

            text-align: center;
            margin-top: 25px;

            ul {
                @extend .list-inline;

                li {
                    @extend .list-inline-item;

                    &:not(:last-child) {
                        &:after {
                            content: "";
                            display: inline-block;
                            border-radius: 0.25rem;
                            height: 0.5rem;
                            width: 0.5rem;
                            margin-left: 10px;
                            background: #ccc;

                            @include media-breakpoint-up(sm) {
                                margin-right: 10px;
                                margin-left: 25px;
                            }
                        }
                    }
                }
            }
        }

        .social-menu {
            @extend .col-12;
            @extend .col-sm-3;
            @extend .order-sm-2;

            margin-top: 25px;
            text-align: center;

            @include media-breakpoint-up(sm) {
                margin-top: 10px;
            }

            ul {
                @extend .list-inline;

                @include media-breakpoint-up(sm) {
                    float: right;
                }

                li {
                    @extend .list-inline-item;

                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }
        }
    }

    .copyright {
        padding: 20px;
        text-align: center;

        small {
            color: $body-color;
        }
    }
}

.popover {
    .locations-summary{
        ul {
            @extend .list-unstyled;

            li {

                &:not(:last-child):after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 90%;
                    margin: 10px;
                    background: #eee;
                }

                .location {
                    display: inline-block;

                    a {
                        font-weight: 500;
                    }
                }

                .phone-number {
                    display: inline-block;
                }

                .hours {
                    display: inline-block;
                }
            }
        }
    }
}

