@import "custom";
@import "mixins";
@import "~bootstrap/scss/bootstrap";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    @include body-font;
}

p {
}

a {
    transition: color 1s;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
//  color: $primary;
    font-weight: 400;
    letter-spacing: 1px;
}

.button {
    @extend .btn;
    @extend .btn-outline-primary;
}

.vertical-container {
    display: table;
    width: 100%;
    height: 100%;

    &-child {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
}

header {
    @extend .container;

    .top-menu {
        @extend .row;

        margin-top: 15px;

        .contact {
            @extend .col-3;
        }

        .branding {
            @extend .col-6;
            text-align: center;

            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                margin: 15px 0 0 0;
                background: #eee;
            }

            #logo {
                height: 75px;
                width: auto;
            }
        }

        .social-menu {
            @extend .col-3;

            ul {
                @extend .list-inline;
                float: right;

                li {
                    @extend .list-inline-item;

                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }
        }
    }

    nav {
        margin-top: 20px;
        text-align: center;

        ul {
            @extend .list-inline;
            display: inline-block;

            li {
                @extend .list-inline-item;
                font-size: 1.1em;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2px;

                &:not(:last-child) {
                    &:after {
                        content: "";
                        display: inline-block;
                        border-radius: 0.25rem;
                        height: 0.5rem;
                        width: 0.5rem;
                        margin: 0 5px 2px 15px;
                        background: #ccc;
                    }
                }
            }
        }
    }
}

main {
    position: relative;
    background: url(../images/smiling-woman.jpg) no-repeat center center;
    background-size: cover;
    height: 90%;
    width: 100%;

    .heading {
        @extend .col-6;
        @extend .offset-md-6;
        @extend .offset-lg-6;
        @extend .offset-xl-6;

        padding-right: 10%;

        h1 {
            margin-bottom: 25px;
            font-size: 3.5em;
        }

        .button {
            @extend .btn-lg;
        }
    }
}

footer {
    @extend .container;

    .footer-title {
        margin: 25px 0;
    }

    .footer-content {
        @extend .row;

        .locations-summary {
            @extend .col-9;

            ul {
                @extend .list-inline;
                columns: 2;

                li {
                    @extend .list-inline-item;

                    &:nth-child(odd) {
                        display: block;

                        &:after {
                            content: "";
                            display: block;
                            height: 1px;
                            width: 90%;
                            margin: 10px;
                            background: #eee;
                        }
                    }

                    .location {
                        display: inline-block;
                        font-weight: 400;

                    }

                    .phone-number {
                        display: inline-block;
                    }
                }
            }
        }

        .social-menu {
            @extend .col-3;
            padding: 0;

            ul {
                @extend .list-inline;
                float: right;

                li {
                    @extend .list-inline-item;

                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }
        }

        .sitemap {
            @extend .col-12;
            text-align: center;
            margin-top: 25px;

            ul {
                @extend .list-inline;

                li {
                    @extend .list-inline-item;

                    &:not(:last-child) {
                        &:after {
                            content: "";
                            display: inline-block;
                            border-radius: 0.25rem;
                            height: 0.5rem;
                            width: 0.5rem;
                            margin-right: 10px;
                            margin-left: 25px;
                            background: #ccc;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        margin: 20px;
        text-align: center;
    }
}

.popover {
    .locations-summary{
        ul {
            @extend .list-unstyled;

            li {

                &:not(:last-child):after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 90%;
                    margin: 10px;
                    background: #eee;
                }

                .location {
                    display: inline-block;
                }

                .phone-number {
                    display: inline-block;
                }

                .hours {
                    display: inline-block;
                }
            }
        }
    }
}
